<section data-ng-controller="AccommodationsController">
  <div class="row jumbotron text-center trees" style="background:url('/images/trees.jpg') repeat;">
    <div class="col-xs-12">
      <h2>Accommodations</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>We have rented out the whole campground. Our hope is that you all stay with us the whole weekend.</p>
      <h3>Cabins</h3>
      <p>
        Accommodation info here.
      </p>

    </div>
  </div>        
  <br>
</div>
</section>