<section data-ng-controller="DetailsController">
  <div class="row jumbotron text-center trees" style="background:url('/images/trees.jpg') repeat;">
    <div class="col-xs-12">
      <h2>Wedding Details</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to Camp Kindling!</h1>
      <p>
        We're so excited to have you!
      </p>
    </div>
  </div>

  <div class="row row1">
    <div class="col-md-8 col-xs-12">
      <h2>Location: Camp Navarro</h2>
      <ul>
        <li>Address: <a href="https://goo.gl/maps/eAWWYyYtUXR2">901 Masonite Industrial Rd, Navarro</a></li>
        <li>Camp Navarro Office Number: <a href="tel://(707) 895-3066">(707) 895-3066</a></li>
        <li>Website: <a href="http://campnavarro.com/">http://campnavarro.com/</a></li>
      </ul>

      <h4>Driving Directions</h4>
      <p>Camp Navarro is approximately 2 1/2 hours from San Francisco, 1/2 mile off Hwy 128 and eight miles from the Mendocino Coast.</p>

      <h5>From North or South Hwy 101</h5>
      <ul>
        <li>U.S. 101 leads to the junction with Highway 128 west, near Cloverdale</li>
        <li>Take the CA-128 W exit towards Ft. Bragg/ Mendocino - 0.2 mi.</li>
        <li>Turn left onto CA 128 W / N. Cloverdale Blvd. - 0.8 mi.</li>
        <li>Get onto 128 West, go about 300 yards, then make a hard RIGHT turn in order to stay on 128W. Continue on HWY 128W through Boonville and Philo for 41.3 mi.</li>
        <li>Continue on CA 128 into the Redwoods, past the Navarro General Store and Gas Station to the first bridge over the Navarro River - 1.6 mi.</li>
        <li>Turn right on Masonite Rd., immediately after the bridge crossing</li>
        <li>Take Masonite Rd. to the entrance to Camp Navarro - 0.7 mi.</li>
        <li>Turn right into the main parking area of Camp Navarro.</li>
      </ul>

      <h4>Parking</h4>
      <p>Please park only in designated areas. Most vehicles will park in Lot 1 at the entrance of Camp Navarro. If there is a log blocking a road, DO NOT move the log. The log is a sign that parking is prohibited beyond this point.
        <br /><br />
      Please do not park, or walk on Masonite Industrial Road at any time. Vehicles that park on Masonite Industrial Road will be immediately towed. Masonite Industrial Road is strictly off limits except for ingress and egress.
      </p>
    </div>
    <div class="col-md-4">
      <br />
      <img alt="Signpost" class="img-responsive img-rounded" src="/images/navarro/signpost.jpg" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>What To Pack</h2>
      <h4>Clothing</h4>
      <p>
        Average temperatures at the end of May at Camp Navarro are highs of 80 degrees and lows of 50 degrees. It will be hot during the day and cool at night. There are two swimming holes, so bring a swimsuit just in case. Nights could get chilly, especially within the forest, so bring warm stuff too. 
        <br /><br />
        The wedding itself will be "campground semi-formal." We'll leave the exact interpretation up to you, but suits and ties and nice dresses would be fantastic!
      </p>

      <h4>Sleeping Bag/Bedding</h4>
      <h4>Pillow</h4>
      <h4>Towel</h4>
      <h4>Sunscreen</h4>
      <h4>Toiletries</h4>
        <p>The camp has shared bathroom and shower facilities, which have been nicely upgraded recently.</p>

      <h4>Flashlight</h4>
        <p>There is very limited lighting in the camp; bring a flashlight for after dark.</p>

    </div>
  </div>        
  <br>
</div>
</section>