<section data-ng-controller="DetailsController">
  <div class="row jumbotron text-center trees" style="background:url('/images/trees.jpg') repeat;">
    <div class="col-xs-12">
      <h2>Wedding Details</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>
        Welcome to Camp Kindling! 
      </p>

      <h3>Camp Navarro</h3>
      <p>
        Talk about how awesome Camp Navarro is.
      </p>

      <h3>Activities</h3>
      <p>
        Stuff to do!
      </p>

    </div>
  </div>        
  <br>
</div>
</section>