<section data-ng-controller="HomeController">
	<div class="row jumbotron text-center trees">
		<div class="col-xs-12">
			<img alt="Camp Kindling" class="img-responsive center-block" src="/images/invite-top.png" />
			<h2>May 28 - May 30, 2016</h2>
			<p>
				<a href="/#!/signup" class="btn btn-primary btn-lg">Sign Up</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>
				Welcome to Camp Kindling! 
			</p>
			<p>
				We're so excited to have you join us for three days and two nights in the gorgeous Mendocino redwoods. For our wedding weekend, we have rented out the entire campground at Camp Navarro for the festivities. Prepare yourself for glamping amongst 80 acres of redwoods. Two swimming holes! Yoga, meditation and dance classes! Archery! And, celebration into the night.
			</p>
			<p>
				<img alt="Tricia and Dennis" class="img-responsive" src="/images/tricia-dennis-1.jpg" />
			</p>
		</div>
	</div>				
	<br>
</div>
</section>
