//$brand-primary: #967ADC;
//$brand-success: #A0D468;
//<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Cardo' rel='stylesheet' type='text/css'>
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Cardo);

// setting the fonts
$font-family-sans-serif:  "Montserrat", Helvetica, Arial, sans-serif !default;
$font-family-serif:       'Cardo', Georgia, "Times New Roman", Times, serif !default;
$font-family-base:        $font-family-serif !default;
$headings-font-family:    $font-family-sans-serif !default;

$icon-font-path: "../lib/bootstrap-sass-official/assets/fonts/bootstrap/";

.trees { background:url('/images/trees.jpg') repeat; }
.trees h2 { color: #ffffff; }

.row1 { background: #dddddd; }

// now get the bootstrap stuff.
@import "../public/lib/font-awesome/scss/font-awesome.scss";
@import "../public/lib/bootstrap-sass-official/assets/stylesheets/bootstrap";